@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
:root{
    --white:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  var(--white);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container h1{
    font-size:4.5rem;
    color:#5E5E5E;
    font-family: 'Inter', sans-serif;
}
.container p{
    color:#5E5E5E;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}
.btn{
   font-size: 1.2rem;
   font-family: 'Inter', sans-serif;
   color: #FFFFFF;
   margin-top:2rem;
   padding: 0.6rem 0.9rem;
   outline: none;
   border: none;
   border-radius:1rem;
   background: #B47AEA;
   cursor: pointer;
   text-decoration: none;

}